body {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    background: black;

}
button {
    color: #fffd;
    transform: translatey(350%);
    font-size: 22px;
    padding: 20px 34px;
    border-radius: 8px;
    border: 2px solid violet;
    background: transparent;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
button::after {
    content: '';
    width: 10%;
    height: 4px;
    background: #fff;
    display: block;
    border-radius: 4px;
    transition: all ease-in-out 1s;
}
button:hover {
    background: violet;
}

button:hover::after {
    width: 100%;
}